@charset "utf-8";

@media all and (max-width: 1000px) {
    .calculator {
        height: 100%;
        width: 100%;
    }

    .calculator-screen {
        border-radius: 28px;
    }
    
    
    input{
        font-size: 30px;
    }
    
    
    button {
        width: 100%;
        font-size: 20px;
    }
    
    .equal-sign {
        width: 100%;
        font-size: 30px;
    }
}


@media all and (max-width: 670px) {
    .calculator {
        height: 50%;
        width: 50%;
    }

    .calculator-screen {
        border-radius: 18px;
    }
    
    
    input{
        font-size: 25px;
    }
    
    
    button {
        width: 50%;
        font-size: 15px;
    }
    
    .equal-sign {
        width: 50%;
        font-size: 25px;
    }
}

