@charset "utf-8";

  
body {
    padding: 0;
    margin: 0;
    background-color: #ecf0f3;
}

.calculator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	
}

.calculator-screen {
	box-shadow: 6px 6px 13px rgba(0, 0, 0, .16), 6px 6px 13px rgba(0, 0, 0, 0.192);
	align-items: center;
	height: 100vh;
	border-radius: 28px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 26%);
	grid-template-rows: repeat(6, 16%);
	background-color: #ffeaa7;
	border: 2px solid #fdcb6e;
	margin: auto;

}


input{
	grid-column: span 4;
	box-shadow: inset -6px -6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, .16); 
	background-color: cornsilk;
	border-radius: 20px;
	border: none;
	color: rgb(26, 25,25);
	text-align: end;
	font-size: 3rem;
	width: 86%;
	height: 80%;
	align-items: center;
	margin: 5%;
}

button {
	align-items: center;
	box-shadow: 6px 6px 13px rgba(0, 0, 0, .16), 6px 6px 13px rgba(0, 0, 0, 0.192); 
	background-color: #ecf0f3;
	border: 1px solid black;
	width: 60%;
	height: 75%;
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 1.5rem;
	border-radius: 20px;
	margin: 30% 0px 0px 12%;
}


.operator, .equal-sign{
	background-color: black;
}

button:hover {
	background-color: lightgray;
}

.operator:hover, .equal-sign:hover {
	background-color: darkorange;
}

.all-clear, .delete{
	background-color: red;
	color: black;
	border: none;
	
}

.all-clear:hover, .delete:hover{
	background-color: darkred;
}

.equal-sign, .operator{
	background-color: black;
	color: black;
	border: none;
}

.equal-sign {
	grid-columns: span 2; 
	text-align: center;
	width: 155%;
	border-radius: 20px;
	font-size: 3rem;
}

